body {
    margin: 0;
}

.header {
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
    background: rgb(177,224,223);
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header__logo {
    width: 60px;
}

.header__buttons {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: space-around;
}

.item {
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
    background: rgb(177,224,223);
    border-radius: 5px;
    padding: 20px;
}

.item:hover {
    transition: 0.5s all;
    cursor: pointer;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.4);
}

.item img {
    height: 24em;
    width: 20em;
    padding: 15px;
}

.item__title {
    color: white;
    font-size: 25px;
}

.item__price {
    color: white;
    font-size: 15px;
}

.item__description {
    color: white;
    font-size: 20px;
}

.itemContainer {
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
    background: rgb(177,224,223);
    width: 90%;
    padding: 40px 20px;
    border-radius: 12px;
    display: flex;
}


.itemRightContainer {
    margin-left: 100px;
}


.itemContainer .item__image {
    width: 300px;
}

.content a {
    text-decoration: none;
}

button {
    border-radius: 12px;
    font-size: 12px;
    padding: 6px 16px;
}